SECRET_KEY=

DEFAULT_CONNECTION=collector
DEFAULT_CONNECTION_DRIVER=mysql
DEFAULT_CONNECTION_HOST=localhost
DEFAULT_CONNECTION_DATABASE=collector
DEFAULT_CONNECTION_USER=root
DEFAULT_CONNECTION_PASSWORD=root
DEFAULT_CONNECTION_PREFIX=