[program:back]
directory=/home/sms/sms-goip-gateway
command=/home/sms/sms-goip-gateway/.venv/bin/gunicorn app:app -b 0.0.0.0:8000 --access-logfile /var/log/gunicorn/access_log --erro$
environment=PATH="/home/sms/sms-goip-gateway/.venv/bin:%(ENV_PATH)s"
autostart=true
autorestart=false
stderr_logfile=/var/log/sms/back_err.log
stdout_logfile=/var/log/sms/back.log

