[program:sms]
directory=/home/sms/sms-goip-gateway
command=/home/sms/sms-goip-gateway/.venv/bin/python sms.py
environment=PATH="/home/sms/sms-goip-gateway/.venv/bin:%(ENV_PATH)s"
autostart=true
autorestart=false
stderr_logfile=/var/log/sms/sms_err.log
stdout_logfile=/var/log/sms/sms.log